<div class="panel panel-default tb-designer-header">
	

    <div class="panel-body">
    	
		<div class="row">
			<div class="col-md-12">			
				<div class="tolaboard-save">
					<button class="btn btn-default">Clear</button>
					<button class="btn btn-success">Save</button>
				</div>
				<div class="design-window">
					
					<button class="btn btn-default" {{action 'addItem' on='click'}}>Add Component</button>

					
					<div class="gridster">
						<ul><!-- gridster stuff -->
							<!-- This is for new tolaboards, or tolaboard_id == 0 -->
							
						  		<!-- {{#each tolaboardItems as |item|}}
							    	{{tolaboard-item index=item 
							      	  removeItem='removeItem'
							      	  setActiveItem='setActiveItem'
									}}
						  		{{/each}} -->
					  		

					  		<!-- This is for existing tolaboards, or tolaboard_id == valid id -->
					  		<!-- {{#if tbExist}} -->
						  		{{#each model.tolaboard.responseJSON.dashboard as |tbItem|}}					
									{{render-tolaboard-item itemMutable=true tbItemConfig=tbItem}}	
								{{/each}}
							<!-- {{/if}} -->
					</ul>
					</div>
					
					<!-- Single instance of this component shared across tolaboard-item components.. triggered by modal which is activated by the edit button (pencil) in the tolaboard-item component template

						 Passed in by tolaboard-designer:
						 dataSources
						 graphOptions
						 itemHome

						 Defined in this component:
						 saveTolaBoard - passed to builder widget
					-->
					{{#if showGraphBuilder}}
						{{graph-builder-widget 
							dataSources=model.dataSources 
							graphOptions=model.graphOptions 
							updateSaveBoardItem='updateSaveBoardItem'}}
					{{/if}}
				</div>
					
			</div>
		</div>
		
	</div>
</div>
