<!-- View to create/define new dashboard -->
<section class="create-view">
    <div class="container">
      <div class="row">
          <button class="btn btn-default" {{action 'onAddItem' on='click'}}>Add Component</button>
          
      </div>

      <h2>{{model.title}}</h2>
      <div class="gridster">
        <ul><!-- gridster stuff -->
            <!-- new approach model can have tolaboard if id passed into route via dynamic model aslo can get defined by creating new tb
                with buttons -->

            <!-- render is responsible for displaying an item, and it's also responsible for letting
                                 tb-designer know which item is 'active' by setting the value, so it can be passed
                                 to the gbw component below -->
            {{#each model.items as |tbItem index|}}
              {{render-tolaboard-item index=index
                                      itemMutable=true
                                      tbItemConfig=tbItem
                                      tbItem=tbItem
                                      model=model
                                      onSaveBoard=onSaveBoard
              }}
            {{/each}}
        </ul>
      </div>
    </div>
</section>
