<li>
	<div class="widget-ui btn-group">
		<button {{action 'runGraphBuilderWidget'}} data-toggle="modal" data-target="#myModal" class="btn btn-xs"><span class="fa fa-edit"></span></button>
		<button {{action 'deleteWidget'}} class="btn btn-xs delete-button"><span class="fa fa-trash"></span></button>		
	</div>
	<div class="viz-target"></div>
</li>