<div class="container">
	<h3>Data Sources</h3>
</div>

<div class="container">
	<div class="row">
		<h4>My Data</h4>
	</div>
	<div class="row">
		{{#each model as |source|}}
			<div class="col-md-4">
				<a class="thumbnail data-internal" href="#">
					<div class="datasource-item">{{source.label}}</div>
				    <p class="datasource-date">{{source.id}}</p>
				</a>			
			</div>
		{{/each}}
		<!-- <div class="col-md-4">
			<a class="thumbnail data-internal" href="#">
				<div class="datasource-item">Camp A Survey</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>			
		</div>
		<div class="col-md-4">
			<a class="thumbnail data-internal" href="#">
				<div class="datasource-item">Camp B Survey</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>			
		</div>
		<div class="col-md-4">
			<a class="thumbnail data-external" href="#">
				<div class="datasource-item">Econonmic Forecast</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>			
		</div>-->
	</div> 

	<!-- <div class="row">
		<h4>Shared</h4>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a class="thumbnail data-internal" href="#">
				<div class="datasource-item">Izmir Beneficiary Data</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>
			
		</div>
		<div class="col-md-4">
			<a class="thumbnail data-internal" href="#">
				<div class="datasource-item">Refugee Location Database</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>
			
		</div>
		<div class="col-md-4">
			<a class="thumbnail data-external" href="#">
				<div class="datasource-item">IRC Data</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>
			
		</div>
		<div class="col-md-4">
			<a class="thumbnail data-internal" href="#">
				<div class="datasource-item">Aegean Response Database</div>
			    <p class="datasource-date">Updated: 5/31/2016</p>
			</a>
			
		</div>
		
	</div> -->
</div>
