<div class="container">
	<h3>Data Sources</h3>
</div>

<div class="container">
	<div class="row">
		<h4>My Data</h4>
	</div>
	<div class="row">
		{{#each model as |source|}}
			<div class="col-md-4">
				<a class="thumbnail data-internal" href="#">
					<div class="datasource-item">{{source.label}}</div>
				    <p class="datasource-date">{{source.id}}</p>
				</a>			
			</div>
		{{/each}}		
	</div> 	
</div>
