<div class="container">
	<h3>Data Sources</h3>
</div>

<div class="container">
	<div class="row">
		<h4>My Tola Tables</h4>
	</div>
	<div class="row">
		{{#each model as |boardsilo|}}
			<div class="col-md-4">
				<h3>{{boardsilo.name}}</h3>
			</div>
		{{/each}}
	</div>
</div>
