<section class="login-page">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading"><h4>Welcome to TolaBoard Alpha</h4></div>
			  <div class="panel-body">
			  	TolaBoard is an ambitious platform within Mercy Corps intended to make creating visualizations of your data. The user interface provides a more visual and intuitive format to let you see your data without the need to buy or learn complex tools.
			  </div>
			  <div class="g-signin2" data-onsuccess='onSignIn' data-theme="dark"></div>
			</div>
			
			
		</div>
		<div class="col-md-8">
			<div class="tolaboard-slides">
				<div class="row">
					<div class="col-md-6"><img class="img-responsive" src="assets/images/intro/tolaboard-1.png"></div>
					<div class="col-md-6"><img class="img-responsive" src="assets/images/intro/tolaboard-1.png"></div>
					<div class="col-md-6"><img class="img-responsive" src="assets/images/intro/tolaboard-1.png"></div>
					<div class="col-md-6"><img class="img-responsive" src="assets/images/intro/tolaboard-1.png"></div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
<div id="footer">
            <!-- Sticky Footer -->
            <div class="container">
                <div class="col-md-6 text-left">
                    <a href="http://www.toladata.com" class="text-muted"><b>Tola</b>Data: Built by</a> <a href="http://www.mercycorps.org" class="text-muted">MercyCorps</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="http://tola.work/documentation" class="text-muted">Documentation</a> | <a href="http://tola.work/faq" class="text-muted">FAQ</a> | <a href="http://tola.work/helpdesk/tickets/submit/" class="text-muted">Feedback</a> | <a href="https://github.com/toladata/TolaActivity/blob/master/LICENSE" class="text-muted">License</a>
                </div>
            </div>
        </div>


</section>