<div class="container">
	<h2>Weekly Snapshot Dashboard</h2>
</div>
<!-- {{tolaboard-grid}} -->
<style type="text/css">
	/* Done for demo - get rid of this */
	h2 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.demo-graph {
		border:	1px solid #ddd;
		margin: 4px 4px;
		background-color: #FAFAFA;
		border-radius: 2px;
		box-shadow: 1px 2.5px 5px #ddd;
	}
	.dial {
		height: 150px;
	}
	.map {
		height: 300px;
	}

</style>
<section>
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-md-4">
				<div class="verbage">
					<h4>Lorem Ipsum</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-md-2">				
				<div class="demo-graph dial">
					<img class="img-responsive" src="assets/images/graph-library/demo-pie.png">
				</div>				
				<div class="demo-graph dial">
					<img class="img-responsive" src="assets/images/graph-library/modern-dial.png">
				</div>				
				
			</div>
			<div class="col-md-6">		
				<div class="demo-graph">
					<img class="img-responsive  map" src="assets/images/graph-library/map2.png">
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 chart">
				<div class="demo-graph">
					<img class="img-responsive" src="assets/images/graph-library/bar1.png">
				</div>
					
			</div>
			<div class="col-md-4">
				<div class="demo-graph">
					<img class="img-responsive" src="assets/images/graph-library/bar2.png">
				</div>				
			</div>
			<div class="col-md-4">
				<div class="demo-graph">
					<img class="img-responsive" src="assets/images/graph-library/bar1.png">
				</div>
			</div>
		</div>
	</div>
</section>