<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to 'index' class="navbar-brand"}}
            <span class="tola-brand"><i class="fa fa-line-chart"></i> TolaBoard</span>
          {{/link-to}}

        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Dashboards <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#each ownerBoards as |board|}}
                  <li>{{#link-to 'dashboard-view' board}} {{board.title}} {{/link-to}}</li>
                {{/each}}


              </ul>
            </li>
            <-->
            <li>{{#link-to 'dashboards'}}My Dashboards{{/link-to}}</li>

            <!-- Shared dashboards aren't in scope for this version, but here's
                 a good starting point for how it would work. See application.js
                 for control logic. You basically need to get all the boards where
                 a user has an access policy to read, but not write to the board -->

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shared Dashboards <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#each sharedBoards as |board|}}
                  <li>{{#link-to 'dashboard-view' board}} {{board.title}} {{/link-to}}</li>
                {{/each}}
              </ul>
            </li> -->


            <li>{{#link-to 'datasources'}}Data Sources{{/link-to}}</li>
          </ul>

          <!-- LOGOUT DROPDOWN -->
          <ul class="nav navbar-nav navbar-right user-cntrl-panel">
            <li><img class="img-responsive user" src="{{session.currentUser.picture}}"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.currentUser.fullName}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/login">Log Out</a></li>

              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->

      </div>
</nav>
<div class="nav-spacer"></div>