<!-- hacked up temporary css -->
<style type="text/css">
	/*h4 {
		margin-top: 50px;
	}*/
	p {
		margin-top: 15px;
		font-size: 16px;
	}
	img {
		box-shadow: 2px 2px #777;
	}
	img:hover {
		opacity: .60;
	}
	.shard-db {
		margin-top: 40px;
	}

</style>

<div class="container">
	<div class="row">
		<h2>Shared Dashboards</h2>

	</div>
	<div class="row shard-db">
		<div class="col-xs-12 col-md-4">
			<a href="#"><img class="img-responsive" src="assets/images/graph-library/izmir-interactive-map.png"></a>
		</div>
		<div class="col-xs-12 col-md-8">
			<h3>İzmir Interactive Map Dashboard</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>


	
	
	
</div>
