* {
	/*font-family: futura, arial;*/
	font-family: 'Questrial', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	color: #474747;
}
.navbar-default {
	/*background-color: rgb(90,90,90);*/
	background-color: #2a86a2;
}
.navbar a {
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	color: #fff !important;
}
.navbar-nav li:hover {
	background-color: #eee;
}
.navbar-nav li a:hover {
	color: #333 !important;
}
.btn-tola-accent {
	background-color: #3d8f3d;/*rgb(0, 175, 170);*/
	color: #fff;
}
.btn-tola-accent:hover,
.btn-tola-accent:active,
.btn-tola-accent:focus {
	background-color: #367d36;
	color: #fff;
}
.tola-brand {
	font-size: 22px;
	font-weight: bold;
}
.dropdown-menu li a {
	color: rgb(77, 82, 90) !important;
}
.dropdown li:first-child {
	color: rgb(0, 175, 170) !important;
}
.nav-spacer {
	margin-top: 50px;
}
.alpha-logo {
	width: 25px;
	margin-top: 7px;
	border: 1px solid #fff;
	border-radius: 50%;
	opacity: .90;
}
.dashboard-main-menu {
	border: solid 1px #333;
  padding: 5px;
  margin: 10px;
}
.user-cntrl-panel img {
	margin-top: 7px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #eee;
}
.user-cntrl-panel li:first-child:hover {
	background-color: #2A86A2;
}
/* Login page */
.login-page {
	padding-top: 40px;
}
.tolaboard-slides img {
	margin: 10px 0px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 10px 5px 5px #ccc;
}
.login-with-google {
	padding: 10px;
	text-align: center;
}

/* what is this? */
.data-internal {
	background-color: rgb(77, 82, 90);
}
.data-external {
	background-color: rgb(129,188,0);
}
.datasource-item {
	padding: 5px;
}
.datasource-date {
	font-style: italic;
	color: #ddd;
	font-size: 12px;
}

/* DESIGNER */
.tb-designer-header {
	margin-top: 30px;
}
.design-window {
	margin-top: 20px;
	min-height: 80vh;
	background-color: rgba(250,250,250,1);
	border: 1px solid #bbb;
}
.design-window button {
	margin-top: 15px;
	margin-left: 15px;
	/*background-color: rgba(77,82,90,.60);*/
}
.design-window button:hover {
	background-color: rgba(77,82,90,.75);
	color: rgb(255,255,255);
}
/*.toggle-new-board {
	background-color: '#81bc00' !important;
}*/
.tolaboard-update-toggle {
	float: left;
}

/* gridster */
/*.gridster {
    width: 1138px;
    margin: 0 auto;
}*/
.gridster ul {
	/* forces grid to maintain width and avoid collapsing*/
	width: 100% !important;
}
.gridster li {
	list-style-type: none;
	cursor: move;
	border: .5px solid #ddd;
	border-radius: 2px;
	box-shadow: 1px 2.5px 5px #ddd;
}
.gridster.immutable li {
	cursor: pointer;
}
.widget-ui {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
.widget-ui button {
	border: 1px solid #888;
	border-radius: 2px;
	margin-top: 0px;
}
/* Graph Builder Widget Component */
.builder-widget {
	width: 1000px;
}
.add-tolaboard-modal {
	width: 400px;
}

/* Data Source Preview Scrollbox */
#data-source-select {
	width: 600px;
}
.data-preview, .viz-selection {
	margin: 10px 10px;

}
.data-preview th {
	background-color: #555;
	color: #fff;
	font-size: 11px;
	padding-left: 1px;
}
.data-preview td {

	border: 1px solid #ccc;
	font-size: 11px;
	padding-left: 1px;
	padding-right: 1px;
}
.data-filters {}
.data-filters-row *{
	float: left;
	margin-top: 5px;
	margin-right: 7px;
}
.data-filters-field {
	width: 350px;
}
.data-filters-eval {
	width: 70px;
	margin-right: 7px;
}
.data-filters-value {
	width: 300px;
}
.data-filters-row button {
	margin-top: 5px;
	margin-left: 3px;
	text-align: center;
}

.graph-library div.col-md-2 {
	padding-left: 5px;
	padding-right: 5px;
}
.graph-library div.col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}
.tb-text-editor {
	border: 1px solid #aaa;
	padding: 5px;
}
.data-model-input {
	width: 200px;
	float: left;
	margin-right: 5px;
}
.viz-selection {
	margin: 5px 0px;
}
.viz-selection hr {
	margin-top: 1px;
	margin-bottom: 0px;
}
.viz-selection img {
	margin: 0px 0px;
	color: #555;
}
.viz-selection img {
	width: 100%;
}
a.thumbnail {
	text-decoration: none !important;
	color: #fff;
}
a.thumbnail:link,
a.thumbnail:hover,
a.thumbnail:active,
a.thumbnail:focus {
	border-color: red;
	cursor: pointer;
	opacity: .80;
}
.selected-graph {
	border: 1.5px solid #0000ff;
}
/*.viz-selection:hover {
	cursor: pointer;
}*/
/*.graph-library a:hover,
.graph-library a:focus,
.graph-library a:active {
  cursor: pointer;
  border-color: red;
}*/
/*.viz-selection p {
	font-weight: bold;
	font-size: 16px;
}*/
.field-select {
	overflow: auto;
	width: 250px;
	height: 200px;
}
.field-select li {
	padding-left: 3px;
}
.field-select li:hover {
	background-color: #ddd;
	cursor: default;
}
.gbw-graph {
	margin-top: 15px;
}

/* graph component styles */
.leaflet-container {
	height: 450px;
	width: 800px
}

/* */
#footer {
	position: fixed;
	width: 100%;
	margin-top: 3px;
	bottom: 0px;
	height: 40px;
	border-top: 1px solid #f5f5f5;
	background-color: rgb(215, 215, 215);
	vertical-align: top;
}

/* Gridster CSS */
[data-col="7"] { left:905px; }
 [data-col="6"] { left:755px; }
 [data-col="5"] { left:605px; }
 [data-col="4"] { left:455px; }
 [data-col="3"] { left:305px; }
 [data-col="2"] { left:155px; }
 [data-col="1"] { left:5px; }
 [data-row="18"] { top:2555px; }
 [data-row="17"] { top:2405px; }
 [data-row="16"] { top:2255px; }
 [data-row="15"] { top:2105px; }
 [data-row="14"] { top:1955px; }
 [data-row="13"] { top:1805px; }
 [data-row="12"] { top:1655px; }
 [data-row="11"] { top:1505px; }
 [data-row="10"] { top:1355px; }
 [data-row="9"] { top:1205px; }
 [data-row="8"] { top:1055px; }
 [data-row="7"] { top:905px; }
 [data-row="6"] { top:755px; }
 [data-row="5"] { top:605px; }
 [data-row="4"] { top:455px; }
 [data-row="3"] { top:305px; }
 [data-row="2"] { top:155px; }
 [data-row="1"] { top:5px; }
 [data-sizey="1"] { height:140px; }
 [data-sizey="2"] { height:290px; }
 [data-sizey="3"] { height:440px; }
 [data-sizey="4"] { height:590px; }
 [data-sizey="5"] { height:740px; }
 [data-sizey="6"] { height:890px; }
 [data-sizey="7"] { height:1040px; }
 [data-sizey="8"] { height:1190px; }
 [data-sizey="9"] { height:1340px; }
 [data-sizey="10"] { height:1490px; }
 [data-sizey="11"] { height:1640px; }
 [data-sizey="12"] { height:1790px; }
 [data-sizey="13"] { height:1940px; }
 [data-sizey="14"] { height:2090px; }
 [data-sizey="15"] { height:2240px; }
 [data-sizey="16"] { height:2390px; }
 [data-sizey="17"] { height:2540px; }
 [data-sizex="1"] { width:140px; }
 [data-sizex="2"] { width:290px; }
 [data-sizex="3"] { width:440px; }
 [data-sizex="4"] { width:590px; }
 [data-sizex="5"] { width:740px; }
 [data-sizex="6"] { width:890px; }
