<div class="container">
    <h3>My Tolaboards</h3>
</div>

<div class="container">
    <div class="row">
        {{#each model as |board|}}
            <div class="col-md-4">
              {{#link-to 'dashboards.view' board.id class="navbar-brand"}}
                <div class="datasource-item">{{board.title}}</div>
                <p class="datasource-date">{{board.createDate}}</p>
              {{/link-to}}

            </div>
        {{/each}}
    </div>
</div>
