<div class="container">
    <h3>My Tolaboards</h3>
</div>

<div class="container">
    <button data-toggle="modal" data-target="#newTBModal" class="btn btn-success">New TolaBoard</button>
</div>

<div class="container">
    <table class="table table-striped tolaboard-main-table">
      <thead><tr><th>TolaBoard</th><th>View/Edit/Delete</th><th>Share</th></tr></thead>
      {{#each model as |board|}}
          <tr>

            {{#link-to 'dashboards.view' board.id class="navbar-brand"}}
              <td>{{board.title}}</td>
            {{/link-to}}

            <td>
            {{#link-to 'dashboards.view' board.id class="btn btn-success"}}
                View
            {{/link-to}}
            {{#link-to 'dashboards.edit' board.id class="btn btn-primary"}}
              Edit
            {{/link-to}}
            {{#link-to 'dashboards.edit' board.id class="btn btn-danger"}}
              Delete
            {{/link-to}}
            </td>
            <td>Coming soon</td>

          </tr>
      {{/each}}
    </table>


</div>

<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="newTBModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog add-tolaboard-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">New TolaBoard</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">

	        <div class="row">
    				<input type="text" name="tbName" value="" placeholder="Enter TolaBoard Title">
            <button class="btn btn-success" {{action 'createBoard'}}>Create</button>
    			</div>




	      </div>
	  </div> <!-- model body container -->

	    </div>
	  </div>
</div>
